 
<div class="row">
  <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let produto of produtos">
    <div class="card" style="margin-bottom:10px;" >
      <div class="card-body text-center">
        <h5 class="card-title ">{{produto.descricao}}</h5>
        <p class="card-text">{{produto.detalhes}}</p>
        <h2>{{produto.valor | currency:'BRL' }}</h2>
      </div>
      <div class="card-footer">
        <small class="text-muted">Criação {{produto.inclusao | date: 'dd/MM/yyyy HH:mm:ss'}}</small>
        <br />
        <small class="text-muted">Alteração {{produto.alteracao | date: 'dd/MM/yyyy HH:mm:ss'}}</small>
      </div>
    </div>
  </div> 